{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>PythonChallenge</h1>
            <p>人生苦短,我用Python!</p>
            <p>这是一个关于Python竞赛的网站,欢迎大家前来挑战!</p>
            {% if um %}
                <p><a class="btn btn-primary btn-lg" href="{{ url_for('challenge', answer=um.stage) }}" role="button">点击开始挑战</a>
                </p>
            {% else %}
                <p><a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">点击开始挑战</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}