{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}登录{% endblock %}
​
{% block content %}

    <div class="bs-docs-header" id="content" tabindex="-1">
      <div class="container">
        <h1>登录</h1>
        <p>请输入正确的用户名及密码</p>

      </div>
    </div>
    <div class="container">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div><br>
    <div class="container">
        {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
        {% endfor %}
    </div>

{% endblock %}